/* @media screen and (min-width: 480px) {
body {
background-image: rgb(251, 251, 251);
}
} */
body {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: -200px;

}

main {
    margin: 0;
}

nav {
    width: 100%;
    background-color: rgb(20, 3, 47);
    height: 30px;
    padding-top: 20px;
}

.ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
}

li {
    /* padding-top: -15px; */
    gap: 20px;
    list-style: none;
}

li a {
    color: white;
}

#welcome-section {
    width: 100%;
    height: 200px;
    background-color: rgb(72, 11, 137);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 100px 0;
    background-image: url("assets/image3.jpeg");
}

#welcome-services {
    width: 100%;
    height: 200px;
    /* background-color: white; */
    color: rgb(72, 11, 137);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 100px 0;
    background-image: url("assets/image1.jpeg");
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.contact-h1 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.project-h1 {
    text-align: center;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.contact-btn {
    background-color: rgb(20, 3, 47);
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 50px;
    border-radius: 10px;
    display: block;
}

input {
    display: block;
    padding: 12px 20px;
    width: 220px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: rgb(20, 3, 47);
    margin-top: 5px;
}

#project-title {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

button {
    background-color: rgb(20, 3, 47);
    width: 130px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 50px;
    border-radius: 15px;
}

button:hover {
    background-color: white;
    color: rgb(20, 3, 47);
}

.coding {
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
}

.footer {

    display: flex;
    background-color: rgb(20, 3, 47);
    justify-content: center;
    margin-right: 30px;
    margin-bottom: -20px;
    width: 100%;
}

.footer div p {
    margin-left: 10px;
    padding: 5px;
    color: white;

}

footer {
    width: 100%;
    height: 10vh;
    display: flex-bottom;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 200px;

}